/* Цвет заголовков #212121
Цвет основного текста #757575
Акцент (синий) #2196F3
Белый текст #FFFFFF
Футер (мейл и телефон) rgba(255, 255, 255, 0.6); */

/*Цвет фона 
1 - #FFFFFF
2 - #2F303A
3 - #E5E5E5
4 - #F5F4FA */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --footer-contact: rgba(255, 255, 255, 0.6);
    --bgc-hero-color: #2F303A;
    --primary-bgc: #E5E5E5;
    --bgc-team: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bgc);
    font-family: Roboto, sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

/*HEADER*/

/*ЛОГОТИП*/
.logo {color: #000000;}
.web {color: var(--accent-color);}
.logo, .web, .studio {
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;}

/*SITE-NAV*/
.list {
    list-style: none;
    font-weight: 500; 
    line-height: 1.14;
    letter-spacing: 0.02em;}
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);}

/*CONTACT LIST*/
.contact a{
    color: var(--primary-text-color);
    text-decoration: none;}
.contact a:hover,
.contact a:focus {
    color: var(--accent-color);}


/*СТИЛИ ДЛЯ index.html*/

/*HERO*/
.hero {background-color: var(--bgc-hero-color);}
.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;}

/*BUTTON*/
.button {
    color: var(--white);
    background-color: var(--accent-color);
    cursor: pointer;}
.button:hover,
.button:focus {
    background-color: #188CE8}

/*SECTION*/
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}
.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;}
.section-team {
    background-color: var(--bgc-team);} 
 .work-list, .team-list, .footer-list, .advantages-list {list-style: none;}
.advantages-list .title,
.team-list .title,
.section-title {
    color: var(--title-text-color);}
.profession {
    font-size: 16px;
    line-height: 1.19;}

/*FOOTER*/
/*Logo*/
.studio {color: var(--white);}

.address {
    color:var(--white);
    text-decoration: none;}
.address-contact {
    color: var(--footer-contact);
    text-decoration: none;}
.address-contact:hover,
.address:hover,
.address-contact:focus,
.address:focus {
    color:var(--accent-color)}


/*СТИЛИ ДЛЯ portfolio.html*/

/*ФИЛЬТР*/
.filter {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;}
.filter:hover,
.filter:focus,
.filter.current {
    color: var(--white);
    background-color: var(--accent-color);}
.filter-list, .portfolio-list {list-style: none;}

/*PORTFOLIO*/
.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;}
.menu {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;}

.portfolio-list a{
    text-decoration: none;}